<!doctype html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
</head>

<div class="wrapper">
  <nav>
    <div class="content">
      <div class="logo"><img src="{{ url_for('static',filename='images/prorail.png') }}" id="logo"></img></div>
    </div>
  </nav>
</div>

<body>
  <form class="form_container" method="POST">
      <label class="label item_1">Prognose in tijd (secondes)</label>
      <input class="feature item_1" type="text" name="size" placeholder="voer hier de feature waardes in"></input>
      <input class="button predict" type="submit" value="Voorspel"></input>
  </form>



  <label class="label_voorspelling">Voorspelling</label>
  <div class="voorspelling"><p style="font-size: 80px; margin-left: 310px; margin-top: 5px;"> {{ prediction }} </p></div>
  <div class="line"></div>

  <div class="disclaimer_wrapper">
    <h1>Disclaimer</h1>
    <a>De voorspelling die wordt getoont is de voorspelde tijdsduur vanaf het moment van aankomst van de aannemer , tot het moment van functie herstel. <br /> <br /> Afwijking (RMSE) in minuten: 38 Minuten</a>
  </div>
</body>


<div class="footer">
  <a class="footer_outro">Made with love from pg-4</a>
</div>
</html>
